<a href="https://colab.research.google.com/github/WilliamGellenthien/DS-1002/blob/main/Gellenthien_HW06_Pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas exercises 1

1. Import dependencies

In [2]:
import pandas as pd

---

In [3]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

In [4]:
series = pd.Series(list)

3. Take the above series and add an index that starts at 2 and steps by 3

In [5]:
custom_index = range(2, 2 + len(list) * 3, 3)
series_with_custom_index = pd.Series(list, index=custom_index)

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

In [6]:
data = {
    'Name': ['Bill', 'TTom', 'Julie', 'Izzy'],
    'Age': [34, 57, 56, 78],
    'Career': ['Cowboy', 'Lawyer', 'Teacher', 'Doctor']
}
df = pd.DataFrame(data)
print(df)

    Name  Age   Career
0   Bill   34   Cowboy
1   TTom   57   Lawyer
2  Julie   56  Teacher
3   Izzy   78   Doctor

5. Name the index of `df` 'participant_id'.  
Print `df`.

In [7]:
df = df.rename_axis('participant_id')
print(df)

                 Name  Age   Career
participant_id
0                Bill   34   Cowboy
1                TTom   57   Lawyer
2               Julie   56  Teacher
3                Izzy   78   Doctor

6. Use a pandas function to determine the data types of the columns of `df`.

In [8]:
column_data_types = df.dtypes
print(column_data_types)

Name      object
Age        int64
Career    object
dtype: object

7. Using bracket notation, reference column `name`

In [9]:
name_column = df['Name']
print(name_column)

participant_id
0     Bill
1     TTom
2    Julie
3     Izzy
Name: Name, dtype: object

8. Using dot notation, reference column `name`

In [10]:
name_column = df.Name
print(name_column)

participant_id
0     Bill
1     TTom
2    Julie
3     Izzy
Name: Name, dtype: object

8. Reference column `name` and have it returned in a dataframe.

In [11]:
name_df = df[['Name']]
print(name_df)

                 Name
participant_id
0                Bill
1                TTom
2               Julie
3                Izzy

9. Show the 3rd element in column `career`.

In [12]:
third_career = df['Career'].iloc[2]
print(third_career)

Teacher

10.  Load the `iris` dataset that we used in class.  Use `iris` as the name of your data frame.

In [13]:
!pip3 install seaborn
import seaborn as sns
from sklearn.datasets import load_iris
iris_data = load_iris()
iris = pd.DataFrame(data=iris_data.data, columns=iris_data.feature_names)

Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.49.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

11.  What is the correlation between the variables `sepal_length` and `sepal_width` for all the irises?

In [14]:
correlation = iris['sepal length (cm)'].corr(iris['sepal width (cm)'])
print("Correlation between sepal_length and sepal_width:", correlation)

Correlation between sepal_length and sepal_width: -0.11756978413300208

12.  Which of the three species has the highest correlation between `sepal_length` and `sepal_width`?  Show any calculations you use to support your answer.

In [15]:
iris.index = iris_data.target
chosen_species = 0  # Change this to the species you're interested in

species_data = iris.loc[chosen_species]

if species_data.empty:
    print(f"No data found for species {chosen_species}.")
else:
    correlation = species_data['sepal length (cm)'].corr(species_data['sepal width (cm)'])
    print(f"The correlation between sepal_length and sepal_width for species {chosen_species} is {correlation:.2f}.")

#The correlation between sepal_length and sepal_width for species 0 is 0.74

The correlation between sepal_length and sepal_width for species 0 is 0.74.

In [16]:
chosen_species = 1  # Change this to the species you're interested in

species_data = iris.loc[chosen_species]

if species_data.empty:
    print(f"No data found for species {chosen_species}.")
else:
    correlation = species_data['sepal length (cm)'].corr(species_data['sepal width (cm)'])
    print(f"The correlation between sepal_length and sepal_width for species {chosen_species} is {correlation:.2f}.")

#The correlation between sepal_length and sepal_width for species 1 is 0.53

The correlation between sepal_length and sepal_width for species 1 is 0.53.

In [17]:
chosen_species = 2  # Change this to the species you're interested in

species_data = iris.loc[chosen_species]

if species_data.empty:
    print(f"No data found for species {chosen_species}.")
else:
    correlation = species_data['sepal length (cm)'].corr(species_data['sepal width (cm)'])
    print(f"The correlation between sepal_length and sepal_width for species {chosen_species} is {correlation:.2f}.")

#The correlation between sepal_length and sepal_width for species 2 is 0.46

The correlation between sepal_length and sepal_width for species 2 is 0.46.

The species that corresponds with the number 0 has the highest correlation bewteen sepal_lenght and sepal_width.

13.  Among the four variables, the two that are most negatively correlated (overall) are `sepal_width` and `petal_length`.  (How do we know this?)  Determine the same thing but for each species separately:  for each species, which two variables have the most negative (or the least positive) correlation?  Again, include calculations to support your answer.

In [23]:
#Setosa
iris[["sepal length (cm)","sepal width (cm)","petal length (cm)","petal width (cm)"]].iloc[:50].corr().min()
# sepal width x pedal length

#Versicolor
iris[["sepal length (cm)","sepal width (cm)","petal length (cm)","petal width (cm)"]].iloc[50:100].corr().min()
# sepal length x sepal width

#Verginica
iris[["sepal length (cm)","sepal width (cm)","petal length (cm)","petal width (cm)"]].iloc[100:].corr().min()
# sepal length x petal width

sepal length (cm)    0.281108
sepal width (cm)     0.401045
petal length (cm)    0.322108
petal width (cm)     0.281108
dtype: float64

In [20]:
# Print the column names of the iris DataFrame
print(iris.columns)

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

14.  Once again, the variables `sepal_width` and `petal_length` are negatively correlated.  But for each individual species, these two variables are positively correlated.  How is this possible?  Explain this phenomenon.  Use a data visualization if it helps.

In [ ]:
#The different species have their own characteristics that could affect the data in certain ways
#Like a certain species of flower could have a larger sepal and less wide petals than another
#So overall correlation cannot be consistent with every species