<a href="https://colab.research.google.com/github/WilliamGellenthien/DS-1002/blob/main/Gellenthien_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [16]:
# Load pandas and the data

In [17]:
import pandas as pd
import numpy as np
ridesharing = pd.read_csv('/content/ride_sharing (3).csv')

In [18]:
# show how many rows and columns are in this dataset
num_rows, num_columns = ridesharing.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 25760
Number of columns: 10

In [19]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)


import re

def clean_duration(duration_str):

    digits = re.findall(r'\d+', duration_str)

    return int(digits[0])


ridesharing['duration'] = ridesharing['duration'].apply(clean_duration)

In [20]:
# Now display the datatypes in the updated dataframe
print(ridesharing.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [21]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.

min_duration = ridesharing['duration'].min()
print("Shortest ride duration:", min_duration)

max_duration = ridesharing['duration'].max()
print("Longest ride duration:", max_duration)

Shortest ride duration: 1
Longest ride duration: 1372

In [22]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
df_less_than_60_minutes = ridesharing.query('duration <= 60')

In [23]:
# Now show both the min and max values of the duration column for your new dataset.
min_duration_new = df_less_than_60_minutes['duration'].min()
print("Shortest ride duration in the new dataset:", min_duration_new)


max_duration_new = df_less_than_60_minutes['duration'].max()
print("Longest ride duration in the new dataset:", max_duration_new)

Shortest ride duration in the new dataset: 1
Longest ride duration in the new dataset: 60

In [24]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
df_less_than_60_minutes = df_less_than_60_minutes[df_less_than_60_minutes['tire_size'] == 26]

In [25]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
count_female_riders = df_less_than_60_minutes[(df_less_than_60_minutes['tire_size'] == 26) &
                                               (df_less_than_60_minutes['duration'] <= 60) &
                                               (df_less_than_60_minutes['user_gender'] == 'FEMALE')].shape[0]

print("Count of female riders using 26-inch wheeled rental bikes for rentals of one hour or less:", count_female_riders)

Count of female riders using 26-inch wheeled rental bikes for rentals of one hour or less: 0

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [26]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
data = pd.read_csv('/content/more-messy-data (1).csv')
num_duplicates = data.duplicated().sum()

print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 287

In [27]:
# Next, remove all duplicate rows using Python.
df = data.drop_duplicates()

In [28]:
# For the FOUR columns involving sepal and petal length and width, update all NaN

column_means = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].mean(numeric_only=True)


df.loc[:, ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].fillna(column_means)

<ipython-input-28-baa2fb5fd42c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].fillna(column_means)

In [29]:
# Find any values in the dataframe that are still missing, and delete them.
df.dropna(inplace=True)

<ipython-input-29-4a0ed7c5485c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [30]:
# How many different species are there?
num_species = df['species'].nunique()

print("Number of different species:", num_species)

Number of different species: 9

In [31]:
# Clean up the 'species' variable so that there are exactly three different values.
unique_species = df['species'].unique()

if len(unique_species) > 3:

    # Creating a mapping dictionary
    species_mapping = {
        'versicolor': 'versicolor',
        'setosa': 'setosa',
        'virginica': 'virginica',
    }

    # Applying the mapping to update the 'species' column
    df['species'] = df['species'].map(species_mapping)

<ipython-input-31-c5d6ebb10e8e>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['species'] = df['species'].map(species_mapping)

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

^[A-Z]{3}\d{4}$

In [32]:
import re

# Regular expression pattern
pattern = r'^[A-Z]{3}\d{4}$'

# test strings
test_strings = [
    'ABC1234',
    'DEF5678',
    'XYZ9999',
    'ABCD1234',
    'ABC123',
    'ABC12345',
    '1234ABCD',
]


for test_string in test_strings:
    match = re.match(pattern, test_string)
    print(f'Test String: {test_string}, Match: {bool(match)}')

Test String: ABC1234, Match: True
Test String: DEF5678, Match: True
Test String: XYZ9999, Match: True
Test String: ABCD1234, Match: False
Test String: ABC123, Match: False
Test String: ABC12345, Match: False
Test String: 1234ABCD, Match: False

In [33]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))

no match